:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


body::-webkit-scrollbar {
    width: 0.25rem;
}

body {
    margin: 0;
    padding: 0;
}

/*inizio menu*/

header {
  height: 10vh;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.wrapper{
  text-align:center;
  margin:50px auto;
}

.tabs{
  
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#000000;
  box-shadow:0px 5px 20px rgba(0, 0, 0, 0);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration: none;
  color: #ffffff;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.2s;
}

.tabs a:hover {
    font-weight: bold;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.2s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  /*
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );*/
}

/*fine menu*/

/* container testo */

.slideshow {
    display: flex;
    height: 40vh;
    margin-left: 1vh;
    margin-right: 1vh; 
    background-color: #000000;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.slideshow h1 {
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

.slideshow p {
  text-align: center;
  color: #ffffff;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*animation text-focus-in*/
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/* fine container */

/* inizio grid */

main {
    overflow: hidden !important;
}

main {
    width: 100%;
  }
  
  .container {
    position: relative;
    display: flex;
    gap: 1vh;
    padding: 1vh;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  
  .post {
    position: relative;
    overflow: hidden;
    /* background: #131313; */
  }
  
  img {
    width: 100%;
    filter: grayscale(50%);
    vertical-align: bottom;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
  
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
  }
  
  .post:hover .overlay {
    opacity: 0.95;
    cursor: pointer;
  }
  
  /* fine grid */
