:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


body::-webkit-scrollbar {
    width: 0.25rem;
}

body {
    margin: 0;
    padding: 0;
}
/*inizio menu*/

header {
    height: 10vh;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  .wrapper{
    text-align:center;
    margin:50px auto;
  }
  
  .tabs{
    
    margin-top:50px;
    font-size:15px;
    padding:0px;
    list-style:none;
    background:#000000;
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0);
    display:inline-block;
    border-radius:50px;
    position:relative;
  }
  
  .tabs a{
    text-decoration: none;
    color: #ffffff;
    text-transform:uppercase;
    padding:10px 20px;
    display:inline-block;
    position:relative;
    z-index:1;
    transition-duration:0.6s;
  }
  
  .tabs a:hover {
      font-weight: bold;
  }
  
  .tabs a i{
    margin-right:5px;
  }
  
  .tabs .selector{
    height:100%;
    display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    border-radius:50px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
  }
  
  /*fine menu*/
  
  /* container testo */
  
  .title {
      display: flex;
      height: 40vh;
      margin-left: 1vh;
      margin-right: 1vh; 
      background-color: #000000;
      position: relative;
      align-items: center;
      justify-content: center;
      color: #ffffff;
  }
  
  .title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }


  .title p {
    text-align: center;
    color: #ffffff;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}
@keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}
  /* fine container */
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  .container {
    padding: 0 16px;
    color: white;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    color: white;
  }
  
  .titles {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  